.loggy-header
{
    margin-left: 10px;
}


.hover:hover
{
    cursor: pointer;
}

td
{
    position: relative;
}

.log.__date,
.log.__module
{
    white-space: nowrap;
}
.page.__logger .page-header
{
    border-bottom: none;
}
.page.__logger .page-header h4
{
    margin-left: 30px;
}

.center-button
{
    position: fixed;
    top: 300px;
    left: 50%;
    margin-left: -72px;
}


pre code
{
    white-space: pre;
    background: none;
}

.reload
{
    margin: 0 0 20px 20px;
}

.clear-input {
    font-weight: bolder;
    border: 1px solid #CCC;
    background: #DDD;
    z-index: 1;
    top: 16px;
    right: 13px;
    display: block;
    width: 18px;
    height: 18px;
    position: absolute;
    border-radius: 50%;
    padding: 0px 5px;
    color: white;
    cursor: pointer;
    -webkit-user-select: none;
    font-size: 12px;
    line-height: 15px;
}

.clear-input:hover {
    background: #CCC;
}

.clear-input:active {
    background: #AAA;
}
